{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<section id="main" itemscope itemtype="https://schema.org/BlogPosting">
  <meta itemprop="author" content="Tristan Rice"/>
  <meta itemprop="publisher" content="Tristan Rice"/>
  <meta itemprop="image"
        content="{{ absURL (default .Site.Params.authorimage (index .Params "image")) }}"/>
  <h2 id="title" itemprop="headline">{{ .Title }}</h2>
  <div class="post-meta">
    <span><time itemprop="datePublished">{{ .Date.Format "Mon Jan 2, 2006" }}</time></span>
    <span>{{ .ReadingTime }} Minutes</span>
    <span>{{ .FuzzyWordCount }} Words</span>
  </div>
  <article id="content" itemprop="articleBody">
    {{ .Content }}
  </article>
</section>

<aside id="meta">
    <div>
    <section>
    </section>
    {{ if .Params.topics }}
      <p id="categories">
        Categories:
        {{ range .Params.topics }}
          <a href="{{ $baseurl }}/topics/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </p>
    {{ end }}
    {{ if .Params.tags }}
      <p id="tags">
				Tags:
        {{ range .Params.tags }}
          <a href="{{ $baseurl }}/tags/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </p>
    {{ end }}
    </div>
    <div>
        {{ if .Prev }}
          <a class="previous" href="{{.Prev.RelPermalink}}">{{.Prev.Title}} →</a>
        {{ end }}
        {{ if .Next }}
          <a class="next" href="{{.Next.RelPermalink}}">← {{.Next.Title}}</a>
        {{ end }}
    </div>
</aside>

{{ partial "footer.html" . }}
