<article class="post">
    <header>
        <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .Draft }}
            <span class="draft">DRAFT</span>
            {{end}}
        </h3>
        <div class="post-meta">
            Tristan Rice (@d4l3k)
            ·
            {{ .Date.Format "Jan 2, 2006" }}
            ·
            {{ .ReadingTime }} min read
        </div>
    </header>

    <p>
    {{ .Summary }}
    </p>

    <footer>
        <a class="right" href='{{ .RelPermalink }}'><nobr>Read more →</nobr></a>
    </footer>
</article>
