<article class="post">
    <header>
        <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .Draft }}
            <span class="draft">DRAFT</span>
            {{end}}
        </h3>
        <div class="post-meta">
            <span>{{ .Date.Format "Mon Jan 2, 2006" }}</span>
            <span>{{ .ReadingTime }} Minutes</span>
            <span>{{ .FuzzyWordCount }} Words</span>
        </div>
    </header>

    <p>
    {{ .Summary }}
    </p>

    <footer>
        <a class="right" href='{{ .RelPermalink }}'><nobr>Read more →</nobr></a>
    </footer>
</article>
