{{ partial "header.html" . }}

<section>
  <h2>Hi there!</h2>
  <amp-img class="circle" height="180" layout="fixed" width="180"
           src="{{.Site.Params.authorImage}}"></amp-img>
  <p>
  I'm Tristan Rice; Software Engineer and student at the University of British Columbia.
  </p>
  <blockquote>
    <table>
      <tr>
        <td>Email
        <td><a href="mailto:rice@fn.lc">rice@fn.lc</a>
      </tr>
      <tr>
        <td>GitHub
        <td><a href="https://github.com">https://github.com</a>
      </tr>
      <tr>
        <td>Resume
        <td><a href="https://fn.lc/s/resume.pdf">https://fn.lc/s/resume.pdf</a>
      </tr>
      <tr>
        <td>LinkedIn
        <td><a href="https://linkedin.com/in/d4l3k">https://linkedin.com/in/d4l3k</a>
      </tr>
      <tr>
        <td>Keybase
        <td><a href="https://keybase.io/rice">https://keybase.io/rice</a>
      </tr>
    </table>
  </blockquote>
</section>

<section>
  <h2>Projects</h2>

  <div class="projects">
    <a href="https://websyn.ca">
      <i class="fa fa-file-o" aria-hidden="true"></i>
      <span>WebSyn.ca</span>
    </a>
    <a href="https://fn.lc/ficrecommend/">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span>Fic Recommend</span>
    </a>
    <a href="https://fn.lc/comicstarship/">
      <i class="fa fa-space-shuttle" aria-hidden="true"></i>
      <span>Comic Starship</span>
    </a>
    <a href="https://fn.lc/short">
      <i class="fa fa-link" aria-hidden="true"></i>
      <span>URL Shortener</span>
    </a>
    <a href="https://campus.fn.lc/">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <span>UBC Campus Map</span>
    </a>
    <a href="https://fn.lc/upass/">
      <i class="fa fa-bus" aria-hidden="true"></i>
      <span>UPass Renewer</span>
    </a>
    <a href="https://fn.lc/hw/">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span>UBC Homework</span>
    </a>
  </div>
</section>


<section id="main">
  <h2>Posts</h2>

  <div>
    {{ range first 10 .Data.Pages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
