{{ partial "header.html" . }}

<section>
  <h2>Hi there!</h2>
  <amp-img class="circle" height="180" layout="fixed" width="180"
           src="{{.Site.Params.authorimage}}"></amp-img>
  <p>
  I'm Tristan Rice; Software Engineer and student at the University of British Columbia.
  </p>
  <blockquote>
    <table>
      <tr>
        <td>Email
        <td><a href="mailto:rice@fn.lc">rice@fn.lc</a>
      </tr>
      <tr>
        <td>GitHub
        <td><a href="https://github.com/d4l3k">https://github.com/d4l3k</a>
      </tr>
      <tr>
        <td>Resume
        <td><a href="https://fn.lc/s/resume.pdf">https://fn.lc/s/resume.pdf</a>
      </tr>
      <tr>
        <td>LinkedIn
        <td><a href="https://linkedin.com/in/d4l3k">https://linkedin.com/in/d4l3k</a>
      </tr>
      <tr>
        <td>Keybase
        <td><a href="https://keybase.io/rice">https://keybase.io/rice</a>
      </tr>
      <tr>
        <td>Calendar
        <td><a href="https://fn.lc/calendar/">https://fn.lc/calendar/</a>
      </tr>
    </table>
  </blockquote>
</section>

<section>
  <h2>Top Projects</h2>

  <div>
    {{ range first 3 (where .Data.Pages.ByWeight.Reverse "Section" "project") }}
        {{ .Render "summary"}}
    {{ end }}
  </div>

  <h2>Latest Projects</h2>

  <div>
    {{ range first 3 (where .Data.Pages.ByDate.Reverse "Section" "project") }}
        {{ .Render "summary"}}
    {{ end }}
  </div>

  <a class="center" href="/project/">
    View all
    {{ len (where .Data.Pages "Section" "project") }}
    featured projects
  </a>

  <a class="center" href="https://github.com/d4l3k">
    See all {{ len .Site.Data.github }} projects on GitHub
  </a>
</section>

<section id="main">
  <h2>Recent Posts</h2>

  <div>
    {{ range first 3 (where .Data.Pages "Section" "post") }}
        {{ .Render "summary" }}
    {{ end }}
  </div>
  <a class="center" href="/post/">View all {{ len (where .Data.Pages "Section" "post") }} posts</a>
</section>

{{ partial "footer.html" . }}
