{{ partial "header.html" . }}

<section>
  <h2>Hi there!</h2>
  <amp-img class="circle" height="180" layout="fixed" width="180"
           src="{{.Site.Params.authorimage}}"></amp-img>
  <p>
  I'm Tristan Rice; Software Engineer and student at the University of British Columbia.
  </p>
  <blockquote>
    <table>
      <tr>
        <td>Email
        <td><a href="mailto:rice@fn.lc">rice@fn.lc</a>
      </tr>
      <tr>
        <td>GitHub
        <td><a href="https://github.com/d4l3k">https://github.com/d4l3k</a>
      </tr>
      <tr>
        <td>Resume
        <td><a href="https://fn.lc/s/resume.pdf">https://fn.lc/s/resume.pdf</a>
      </tr>
      <tr>
        <td>LinkedIn
        <td><a href="https://linkedin.com/in/d4l3k">https://linkedin.com/in/d4l3k</a>
      </tr>
      <tr>
        <td>Keybase
        <td><a href="https://keybase.io/rice">https://keybase.io/rice</a>
      </tr>
      <tr>
        <td>Calendar
        <td><a href="https://fn.lc/calendar/">https://fn.lc/calendar/</a>
      </tr>
    </table>
  </blockquote>
</section>

<section>
  <h2>Projects</h2>

  <div class="projects">
    <a href="https://websyn.ca">
      <i class="fa fa-file-o" aria-hidden="true"></i>
      <span>WebSyn.ca</span>
    </a>
    <a href="https://fn.lc/ficrecommend/">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span>Fic Recommend</span>
    </a>
    <a href="https://fn.lc/comicstarship/">
      <i class="fa fa-space-shuttle" aria-hidden="true"></i>
      <span>Comic Starship</span>
    </a>
    <a href="https://fn.lc/short">
      <i class="fa fa-link" aria-hidden="true"></i>
      <span>URL Shortener</span>
    </a>
    <a href="https://campus.fn.lc/">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <span>UBC Campus Map</span>
    </a>
    <a href="https://fn.lc/upass/">
      <i class="fa fa-bus" aria-hidden="true"></i>
      <span>UPass Renewer</span>
    </a>
    <a href="https://fn.lc/hw/">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span>UBC Homework</span>
    </a>
    <a href="https://github.com/degdb/degdb">
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <span>degdb</span>
    </a>
    <a href="https://github.com/d4l3k/skeletondb">
      <i class="fa fa-bolt" aria-hidden="true"></i>
      <span>skeletondb</span>
    </a>
    <a href="https://github.com/d4l3k/webrtc-lobby">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <span>webrtc-lobby</span>
    </a>
    <a href="https://github.com/d4l3k/go-sct">
      <i class="fa fa-sun-o" aria-hidden="true"></i>
      <span>go-sct</span>
    </a>
    <a href="https://github.com/d4l3k/go-pry">
      <i class="fa fa-terminal" aria-hidden="true"></i>
      <span>go-pry</span>
    </a>
    <a href="https://opentetrisarena.fn.lc/">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <span>Open Tetris Arena</span>
    </a>
    <a href="https://consensus.fn.lc/">
      <i class="fa fa-university" aria-hidden="true"></i>
      <span>Consensus Slides</span>
    </a>
    <a href="https://exams.ubccsss.org/">
      <i class="fa fa-database" aria-hidden="true"></i>
      <span>CSSS Exam DB</span>
    </a>
    <a href="https://www.nwhacks.io/">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      <span>nwHacks</span>
    </a>
  </div>
  <a class="right" href="https://github.com/d4l3k">See more on GitHub →</a>
</section>

<section id="main">
  <h2>Recent Posts</h2>

  <div>
    {{ range first 3 .Data.Pages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
  <br/>
  <center>
    <a href="/post/">View All {{ len .Data.Pages }} Posts</a>
  </center>
</section>

{{ partial "footer.html" . }}
